#navigation-content {

  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row-start: header-end;
  grid-row-end: footer-start;

  padding: 15px;

  h1, h2, h3, h4, h5, p {
    font-family: $theme-font-family;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  button.btn-primary, a.btn-primary {
    background-color: $theme-color;
    color: $theme-text-color-on-theme-color;
    border: none;
  }

  button.btn-primary:hover, a.btn-primary:hover {
    background-color: $theme-hover-color;
    color: $theme-text-color-on-theme-color;
  }

  .category-content-table {

    .row-type-icon-column {
      width: 45px;
    }

    .actions-column {

      width: 120px;

      .btn {
        float: right;
        font-size: 12px;
        height: 25px;
        margin: 2px;
        padding: 3px 10px;
      }
    }
  }

  .countries {
    
    .countries-list {

      tr:hover {
        background-color: $theme-grey;
      }

      tr {
        cursor: pointer;
      }
    }

    .countries-topic-link:hover {
      color: $theme-color;
    }

    .countries-topic-link {
      cursor: pointer;
    }
  }
}
