#navigation-header-color-bar {
  grid-column-start: page-start;
  grid-column-end: page-end;
  grid-row-start: header-start;
  grid-row-end: header-end;
  background-color: $theme-color;
}

#navigation-header-content {

  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row-start: header-start;
  grid-row-end: header-end;

  .header-element {

    float:left;
    line-height: $header-height;
    cursor: pointer;
    padding: 0 15px;
    margin-right: 10px;

    h3 {
      font-size: 18px;
      font-family: $header-element-font-family;
      line-height: $header-height;
      color: $theme-text-color-on-theme-color;
      margin: 0;
      padding: 0;
    }

    .btn-primary {
      background-color: $theme-hover-color;
    }
  }

  .header-element.username {
    color: $theme-text-color-on-theme-color;
    font-size: 18px;
    margin-right: 0;
    padding: 0 5px;
    cursor: default;
  }

  .header-element.float-right {
    float: right;
  }

  #site-name {

    height: $header-height;
    margin-right: 20px;

    h1 {
      font-size: 36px;
      font-family: $header-logo-font-family;
      color: $theme-text-color-on-theme-color;
      margin: 5px 0 0 0;
      padding: 0;
    }

    h5 {
      color: $theme-text-color-on-theme-color;
      margin: -7px 0 0 5px;
    }
  }

  #site-name:hover {
    background-color: $theme-hover-color;
  }
}
