.overlay {

  background-color: rgba(128, 128, 128, 0.25);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index:1000;

  .content {

    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    #spinner-icon {
      color: $theme-color;
      font-size: 48px;
    }
  }

  .popup.content {

    background-color: white;
    border: 0.5px solid grey;
    height: 90vh;
    max-width: 500px;
    overflow-y: auto;
    width: 90vw;

    .popup-grid-container {

      height: 100%;

      .popup-grid {

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 70px;
        grid-template-areas:
          "content"
          "footer";
        height: 100%;

        .popup-grid-content {
          grid-area: content;
          padding: 20px;
        }

        .popup-grid-footer {

          grid-area: footer;
          margin: 10px;

          .btn {
            float: right;
            margin: 5px;
          }
        }
      }
    }
  }
}
